.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.graph {
    position: absolute;
}

.percent {
    position: absolute;
    margin-top: 6px;
    font-size: 20px;
}

.total {
    position: absolute;
    bottom: 0;
}

.label {
    position: absolute;
    bottom: 25px;
}