.app {
  color: #fff;
}

.logo {
  height: 300px;
}

.header {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.label {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  size: 20px;
}